/* CSS STYLE SHEET
    Use flexbox to work on having a good looking/resizable. 
*/

body{
    display: flex;
    justify-content: center;
}

#calc-container{
    min-width: 66%;
}

#display{
    background-color: black;
    min-height: 50px;
    min-width:200px
}

#button-container{
    flex:1;
    display: flex;
    justify-content: space-between;
    padding :10px;
}

#operator-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}

#number-container{
    max-width: 2/3;
    display: flex;
    flex-direction: column;
    gap : 10px;
    flex:1;
}





