/* CSS STYLE SHEET
    Use flexbox to work on having a good looking/resizable. 
*/

body{
    display: flex;
    justify-content: center;
}

#display{
    background-color: black;
    min-height: 50px;
}

#button-container{
    display: flex;
    justify-content: space-between;
}

#operator-container{
    display: flex;
    flex-direction: column;
}


